.pull-right.change_view
  %a#list{:href => "#"}
    %span.glyphicon.glyphicon-list
  %a#grid{:href => "#"}
    %span.glyphicon.glyphicon-th
  %span
    = link_to '', homepage_index_path(:value => 'true'), :class => 'glyphicon glyphicon-map-marker', :id => 'grid1' 
