- frontpage_fragment_cache("grid_item", listing) do
  .item.col-sm-4.gap-10
    .thumbnail
      = render :partial => "layouts/new_grid_item_listing_image", :locals => {:listing => listing, :modifier_class => ""}